
/*
	template namw: portfolio website;
	Author: Md. Masud Rana;
	Author Url: https://www.youtube.com/channel/UC0wr89s_815dVwiMqHknVGw?view_as=subscriber;
	Version: 1.0;

	table of content
	------------------------
	1. core css
	2. sidebar css
	3. main page section css
	4. work experience

*/

body{
	background-color: #dddfe2;
}
h1, h2, h3{
	font-size: 20px;
	margin: 0px;
}
p, span, i, a{
	font-size: 14px;
	margin:0px;
}


.template{
	margin-top: 30px;
	margin-bottom: 30px;
}

.header_area{
	background-color: #5B9BD5;
}
.header_area h2{
	color:#f9f9f9;
	font-size: 28px;
	padding: 10px 0px;
	text-align: center;
}


.footer_area{
	background-color: #5B9BD5;
	margin-top: 15px
}
.footer_area p{
	color:#f9f9f9;
	padding: 5px 0px;
	text-align: center;
}
.footer_area p a{
	color:#f9f9f9;
}










/* ========================================================================
	2. sidebar css
   ======================================================================= */

.sidebar{
	background-color: #5B9BD5;
	text-align: center;
	padding-bottom: 30px;
}
.sidebar img{
	width: 180px;
    height: 180px;
    border-radius: 180px;
    box-shadow: 0px 0px 10px green;
    margin-top: 50px;
    margin-bottom: 15px;
}
.sidebar h2{
	color:#f9f9f9;
}
.sidebar p{
	color:#f9f9f9;
}
.sidebar ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	    margin-left: 25px;
}
.sidebar ul li{
	float: left;
}
.sidebar ul li a img{
	    width: 30px;
    height: 30px;
    margin: 20px 5px;
}




/* ========================================================================
	3. main page section css
   ======================================================================= */
.main_page_section{}
.main_menu{
	background-color: #5B9BD5;
	overflow: hidden;
}
.main_menu ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	    margin-left: 15px;
}
.main_menu ul li{
	float: left;
	color:#f9f9f9;
	font-size: 16px;
	padding: 5px 15px;
	cursor: pointer;
}
.active{
	background-color: #f9f9f9;
	color: #222222 !important;
}
.content{
	padding: 15px;
}
.single_content{
	margin-bottom: 30px;
}
.single_content h2{
	color: #5B9BD5;
    border-bottom: 1px solid #5B9BD5;
    padding-bottom: 5px;
    margin: 15px 0px;
}
.single_content p{
	color:#222;
}



/* ========================================================================
	4. work experience
   ======================================================================= */
.single_experience{
	position: relative;
	padding-bottom: 30px;
}
.single_experience:before{
	position: absolute;
	width: 2px;
	height: 100%;
	background-color:#5B9BD5;
	content: '';
	top:0px;
	left: 54px;

}
.single_experience h1{
	font-size: 18px;
    color: #5B9BD5;
    width: 40px;
    height: 40px;
    background-color: #dddfe2;
    border-radius: 40px;
    border: 1px solid #5B9BD5;
    text-align: center;
    padding: 8px 0px;
    margin-left: 35px;
    margin-top: 12px;
    position: relative;
}
.single_experience h1:before{
	position: absolute;
    width: 12px;
    height: 12px;
    background-color: #5B9BD5;
    content: '';
    top: 13px;
    left: 31px;
    transform: rotate(45deg);
    --webkit--transform: rotate(45deg);
    --moz--transform: rotate(45deg);
    --ms--transform: rotate(45deg);
    --o--transform: rotate(45deg);
}
.single_experience h2{
	border: none;
    margin-bottom: 0px;
}
.single_experience h3{
	font-size: 16px;
	color:#222;
}
.single_experience p{
	color:#222;
}   